/*  your css code here. If applicable */
.block-heading {
            color: #3b99e0;
            text-align: center;
            margin-top: 20px;
        }
.block-heading p{}

        .summary {
            padding: 20px;
            border-top: 2px solid #5ea4f3;
			background-color: #f7fbff;
        }

        /* Additional Styles for Product Block */
        .product {
            margin-top: 20px;
        }

        /* For better visualization */
        body {
            background-color: #f7fbff;
            margin: 20px;
        }
